/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          VIEWSPACE
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
  height: 100%;
}

/*FYI: when applying flex properties and values to a declared element/class/id then those properties we have declared will apply to the emelements in that container*/
.container {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  display: flex; /*why cant i get my divs to stack, whyyyyyy*/
  background-color: #8c919b;
  width: 100%;
  height: 150px;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar li {
  justify-content: space-around;
}

.banner-bar {
  width: 100%;
}

.page-header img {
  align-items: center;
}

.page-header h4 {
  color: grey;
  text-transform: uppercase;
  
}