/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          VIEWSPACE
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
  height: 100%;
}

.container {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  display: block; /*why cant i get my divs to stack, whyyyyyy*/
  background-color: #8c919b;
  width: 100%;
  height: 150px;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar li {
  display: flex;
  justify-content: space-around;
  display: inline;
}

.banner-bar {
  width: 100%;
  display: block;
}

.page-header img {
  display: flex;
  align-items: center;
}

.page-header h4 {
  color: grey;
  text-transform: uppercase;
  
}