/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          VIEWSPACE
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
  height: 100%;
}

/*FYI: when applying flex properties and values to a declared element/class/id then those properties we have declared will apply to the emelements in that container*/
.container {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}

/*aha he answered my question: "the children of a flex parent are all in one row unless you use flex-wrap:wrap wa-lah magic!"*/

.nav-bar {
  background-color: #8c919b;
  width: 100%;
  height: 150px;
  flex-direction: column;
  /*display: flex; /*why cant i get my divs to stack, whyyyyyy*/
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  align-content: space-between;
}

.nav-bar li {
  display: flex;
}

.banner-bar {
  width: 100%;
}

img {
  max-width: 100%;
}
/*.membership-bar {
  width: 100%;
}*/

input {
  align-items: flex-end;
}

.page-header {
  width: 100%;
}

.page-header img {
  justify-content: center;
}

.page-header h4 {
  color: grey;
  text-transform: uppercase;
  
}

